Django~=5.2.3
djangorestframework~=3.16.1
django-cors-headers~=4.7.0
psycopg2-binary~=2.9.10
requests~=2.32.3
Pillow~=11.1.0
celery~=5.5.2
redis~=5.2.1
google-genai~=1.11.0
gunicorn~=23.0.0
whitenoise~=6.9.0
